/* latin-ext */
@font-face {
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Barlow Semi Condensed Regular'), local('BarlowSemiCondensed-Regular'), url("#{resource['fonts/BarlowSemiCondensed-latin-ext.woff2']}") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Barlow Semi Condensed Regular'), local('BarlowSemiCondensed-Regular'), url("#{resource['fonts/BarlowSemiCondensed-latin.woff2']}") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin-ext */
@font-face {
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 800;
    src: local('Barlow Semi Condensed ExtraBold'), local('BarlowSemiCondensed-ExtraBold'), url("#{resource['fonts/BarlowSemiCondensedBold-latin-ext.woff2']}") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 800;
    src: local('Barlow Semi Condensed ExtraBold'), local('BarlowSemiCondensed-ExtraBold'), url("#{resource['fonts/BarlowSemiCondensedBold-latin.woff2']}") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-height: 100%;
}

.header {
    font-size: 40px !important;
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 10%;
    padding-top: 17px;
    border-bottom: 1px solid #ddd;
}

.full-container {
    background-color: rgb(251, 250, 251);
    height: 90%;
}

.container {
    padding-top: 20px;
}

label {
    font-size: medium !important;
}

.table-striped > tbody > tr {
    background-color: rgb(251, 250, 251);
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgb(251, 250, 251);
}

.table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}

.bold {
    font-weight: 800 !important;
}

.light {
    font-weight: 400 !important;
}

table.dataTable {
    border-collapse: collapse !important;
}

.logo {
    width: 30px;
    padding-bottom: 8px;
}

.btn.add {
    margin-top: 26px;
    margin-right: 10px;
    /*margin-right: 6px;*/
    /*width: 65px;*/
}

.btn.add:hover {
    margin-top: 26px !important;
}

.dataTables_info {
    display: none;
}

.row {
    margin: 0;
}

.status {
    margin-left: 15px !important;
}

thead tr th:last-child:after {
    display: none !important;
}

thead tr th:last-child:after {
    display: none !important;
}

thead tr th:last-child:after {
    display: none !important;
}

.action {
    cursor: default !important;
    pointer-events: none;
    padding-right: 8px !important;
}

.btn.remove {
    pointer-events: auto;
    margin-right: 3px !important;
    cursor: pointer !important;
    width: 51.3px;  /* same size as "Add" button */
}

.action-add {
    padding-left: 15px;
}


@media (min-width: 992px) {
    .btn.add {
        padding-left: 15px;
    }
    .action-add {
        padding-left: 0;
    }
}


