<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

<h:head>
    <title>Envisionari user form</title>

    <h:outputScript name="js/jquery-3.3.1.min.js" position="first"/>
    <h:outputScript name="js/user-form.js" position="last"/>
    <h:outputStylesheet name="css/user-form.css" position="last"/>
</h:head>
<h:body>

    <b:row class="header text-center">
        <span>
            <b:image class="logo" value="#{resource['img/logo-black.png']}"/>
        </span>
        <span class="bold">USR</span>
        <span class="light">ENVISIONARI</span>
    </b:row>

    <b:row class="full-container">
        <b:container>
            <b:row>
                <h:form id="users">
                    <b:dataTable class="users" value="#{usersController.list}" var="user" border="false" paginated='false' searching='false'>
                        <b:dataTableColumn header-style-class="col-md-1" value="#{user.id}" />
                        <b:dataTableColumn header-style-class="col-md-4" value="#{user.username}" />
                        <b:dataTableColumn header-style-class="col-md-6" value="#{user.passwd}" label="Password"/>
                        <b:dataTableColumn header-style-class="col-md-1" style-class="text-right action" label="Action">
                            <b:commandButton look="inverse" class="remove" value="Del" ajax="true" action="#{usersController.remove(user)}" update="@Form user-add" />
                        </b:dataTableColumn>
                    </b:dataTable>
                </h:form>
            </b:row>

            <!--<b:row>-->
            <!--NO AJAX-->
            <!--<form method="post" action="users-add" accept-charset="UTF-8">-->
            <!--<label for="id">ID</label>-->
            <!--<input id="id" name="id"/>-->
            <!--<label for="name">Name</label>-->
            <!--<input id="name" name="name"/>-->
            <!--<label for="password">Password</label>-->
            <!--<input id="password" name="password"/>-->
            <!--<input type="submit"/>-->
            <!--</form>-->
            <!--</b:row>-->

            <b:row>
                <h:form id="user-add" inline="true">
                    <b:row>
                        <b:column span="1">
                            <b:inputText label="Id" value="#{usersController.id}" required="true" />
                        </b:column>
                        <b:column span="4">
                            <b:inputText label="Username" value="#{usersController.username}" required="true" />
                        </b:column>
                        <b:column span="6" class="password">
                            <b:inputText label="Password" value="#{usersController.password}" required="true" />
                        </b:column>
                        <b:column span="1" class="text-right action-add">
                            <b:commandButton class="add" look="inverse" ajax="true" value="Add" action="#{usersController.add}" update="@Form users" />
                        </b:column>
                    </b:row>
                    <b:row class="status">
                        <h:outputText value="#{usersController.result}" />
                    </b:row>
                </h:form>
            </b:row>
        </b:container>
    </b:row>
</h:body>
</html>